.product {
  margin-top: 30px;
  padding: 10px;
}

/* main styles */

.closed {
  overflow: hidden;

  max-height: 0;
  padding: 0;
}

.opened {
  max-height: auto;
  padding: 30px;
}

/* reviews looks like link) */
.rateTitle a {
	color: var(--primary);
}
